/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
  
  &:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: 2px;
  }
  
  &:active {
    transform: translateY(1px);
  }
}

.default {
  background-color: $button-default;
  &:hover {
    background: lighten($button-default, 15%);
  }
}

.error {
  background-color: $button-error;
  &:hover {
    background: lighten($button-error, 15%);
  }
}

.info {
  background-color: $button-info;
  &:hover {
    background: lighten($button-info, 15%);
  }
}

.success {
  background-color: $button-success;
  &:hover {
    background: lighten($button-success, 15%);
  }
}

.warning {
  background-color: $button-warning;
  &:hover {
    background: lighten($button-warning, 15%);
  }
}
