/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: 100%;
  }
  
.input{
  display: block;
  width: 94%;
  margin: 10px auto 0;
  border: none;
  padding: 10px;
  border-bottom: 5px solid #58e1c1;
  transition: border-color 0.3s ease-in-out;
  
  &:focus {
    outline: none;
    border-bottom-color: #51ddfc;
  }
  
  &::placeholder {
    color: #999;
  }
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}