/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
    border-radius: 50%;
  }
  
.img-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}